Tsg.Business.Model/Service References/TSGRatesService/TSGRatesService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tradesolutionsgroup.com/services" elementFormDefault="qualified" targetNamespace="http://tradesolutionsgroup.com/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.bizcurrency1.com/TsgRatesService/TSGRatesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TSGRatesService.DataContracts" />
  <xs:element name="GetLibraryVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLibraryVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLibraryVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurrencyRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TSGRatesService.DataContracts" minOccurs="0" name="request" nillable="true" type="q1:UpdateCurrencyRateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurrencyRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TSGRatesService.DataContracts" minOccurs="0" name="UpdateCurrencyRateResult" nillable="true" type="q2:UpdateCurrencyRateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLiborRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TSGRatesService.DataContracts" minOccurs="0" name="request" nillable="true" type="q3:UpdateLiborRatesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLiborRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TSGRatesService.DataContracts" minOccurs="0" name="UpdateLiborRatesResult" nillable="true" type="q4:UpdateLiborRatesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>