Tsg.Business.Model/Service References/TsgGPWebService/IGPWebService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tradesolutionsgroup.com/services" elementFormDefault="qualified" targetNamespace="http://tradesolutionsgroup.com/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.bizcurrency.com/GPWebServiceBetaToken/IGPWebService1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" />
  <xs:element name="PaymentRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q1:PaymentReleaseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="PaymentReleaseResult" nillable="true" type="q2:PaymentReleaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q3:PaymentDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="PaymentDeleteResult" nillable="true" type="q4:PaymentDeleteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q5:PaymentSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="PaymentSearchResult" nillable="true" type="q6:PaymentSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentGetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q7:PaymentGetSingleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentGetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="PaymentGetSingleResult" nillable="true" type="q8:PaymentGetSingleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentGetSettlementHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q9:PaymentGetSettlementHistoryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentGetSettlementHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="PaymentGetSettlementHistoryResult" nillable="true" type="q10:PaymentGetSettlementHistoryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentMarkAsTransmitted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q11:PaymentMarkAsTransmittedRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentMarkAsTransmittedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="PaymentMarkAsTransmittedResult" nillable="true" type="q12:PaymentMarkAsTransmittedResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAccessRightAddOrUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q13:UserAccessRightAddOrUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAccessRightAddOrUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="UserAccessRightAddOrUpdateResult" nillable="true" type="q14:UserAccessRightAddOrUpdateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAccessRightDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q15:UserAccessRightDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAccessRightDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="UserAccessRightDeleteResult" nillable="true" type="q16:UserAccessRightDeleteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhiteLabelProfileGetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q17:WhiteLabelProfileGetSingleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhiteLabelProfileGetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="WhiteLabelProfileGetSingleResult" nillable="true" type="q18:WhiteLabelProfileGetSingleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhiteLabelProfileSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q19:WhiteLabelProfileSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhiteLabelProfileSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="WhiteLabelProfileSearchResult" nillable="true" type="q20:WhiteLabelProfileSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WKYCResultGetAllForItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q21:WKYCResultGetAllForItemRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WKYCResultGetAllForItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="WKYCResultGetAllForItemResult" nillable="true" type="q22:WKYCResultGetAllForItemResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WKYCResultDetailGetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q23:WKYCResultDetailGetAllRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WKYCResultDetailGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="WKYCResultDetailGetAllResult" nillable="true" type="q24:WKYCResultDetailGetAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLibraryVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLibraryVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLibraryVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyListGetPaymentCurrencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q25:CurrencyListGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyListGetPaymentCurrenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CurrencyListGetPaymentCurrenciesResult" nillable="true" type="q26:CurrencyListGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountryListGetPaymentCountries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q27:CountryListGetPaymentCountriesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountryListGetPaymentCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CountryListGetPaymentCountriesResult" nillable="true" type="q28:CountryListGetPaymentCountriesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StateOrProvinceListGetAllForCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q29:StateOrProvinceListGetAllForCountryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StateOrProvinceListGetAllForCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="StateOrProvinceListGetAllForCountryResult" nillable="true" type="q30:StateOrProvinceListGetAllForCountryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NationalCodeListGetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q31:NationalCodeListGetAllRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NationalCodeListGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="NationalCodeListGetAllResult" nillable="true" type="q32:NationalCodeListGetAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NationalCodeListGetAllForCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q33:NationalCodeListGetAllForCurrencyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NationalCodeListGetAllForCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="NationalCodeListGetAllForCurrencyResult" nillable="true" type="q34:NationalCodeListGetAllForCurrencyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReasonsForPaymentGetAllForCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q35:ReasonsForPaymentGetAllForCountryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReasonsForPaymentGetAllForCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="ReasonsForPaymentGetAllForCountryResult" nillable="true" type="q36:ReasonsForPaymentGetAllForCountryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q37:AuthenticateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="AuthenticateResult" nillable="true" type="q38:AuthenticateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventNotificationGetAllForItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q39:EventNotificationGetAllForItemRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventNotificationGetAllForItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="EventNotificationGetAllForItemResult" nillable="true" type="q40:EventNotificationGetAllForItemResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventNotificationAddNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q41:EventNotificationAddNotificationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventNotificationAddNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="EventNotificationAddNotificationResult" nillable="true" type="q42:EventNotificationAddNotificationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventNotificationDeleteNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q43:EventNotificationDeleteNotificationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventNotificationDeleteNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="EventNotificationDeleteNotificationResult" nillable="true" type="q44:EventNotificationDeleteNotificationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerGetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q45:CustomerGetSingleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerGetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerGetSingleResult" nillable="true" type="q46:CustomerGetSingleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerGetSingleFromAlias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q47:CustomerGetSingleFromAliasRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerGetSingleFromAliasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerGetSingleFromAliasResult" nillable="true" type="q48:CustomerGetSingleFromAliasResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q49:CustomerCreateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerCreateResult" nillable="true" type="q50:CustomerCreateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerCreateFromTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q51:CustomerCreateFromTemplateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerCreateFromTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerCreateFromTemplateResult" nillable="true" type="q52:CustomerCreateFromTemplateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q53:CustomerUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerUpdateResult" nillable="true" type="q54:CustomerUpdateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAccountAliasCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q55:CustomerAccountAliasCreateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAccountAliasCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerAccountAliasCreateResult" nillable="true" type="q56:CustomerAccountAliasCreateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAccountAliasListGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q57:CustomerAccountAliasListGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAccountAliasListGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerAccountAliasListGetResult" nillable="true" type="q58:CustomerAccountAliasListGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAccountAliasDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q59:CustomerAccountAliasDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAccountAliasDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerAccountAliasDeleteResult" nillable="true" type="q60:CustomerAccountAliasDeleteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAccountAliasSetDefault">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q61:CustomerAccountAliasSetDefaultRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAccountAliasSetDefaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerAccountAliasSetDefaultResult" nillable="true" type="q62:CustomerAccountAliasSetDefaultResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAccountAliasDoesAliasExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q63:CustomerAccountAliasDoesAliasExistRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAccountAliasDoesAliasExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerAccountAliasDoesAliasExistResult" nillable="true" type="q64:CustomerAccountAliasDoesAliasExistResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAccountAliasList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q65:GetCustomerAccountAliasListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAccountAliasListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="GetCustomerAccountAliasListResult" nillable="true" type="q66:GetCustomerAccountAliasListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankDirectorySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q67:BankDirectorySearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankDirectorySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="BankDirectorySearchResult" nillable="true" type="q68:BankDirectorySearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemAttributeCreateOrUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q69:ItemAttributeCreateOrUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemAttributeCreateOrUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="ItemAttributeCreateOrUpdateResult" nillable="true" type="q70:ItemAttributeCreateOrUpdateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemAttributeGetAllForItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q71:ItemAttributeGetAllForItemRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemAttributeGetAllForItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="ItemAttributeGetAllForItemResult" nillable="true" type="q72:ItemAttributeGetAllForItemResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemAttributeDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q73:ItemAttributeDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemAttributeDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="ItemAttributeDeleteResult" nillable="true" type="q74:ItemAttributeDeleteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerLiquidationPreferencesGetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q75:CustomerLiquidationPreferencesGetAllRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerLiquidationPreferencesGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerLiquidationPreferencesGetAllResult" nillable="true" type="q76:CustomerLiquidationPreferencesGetAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerLiquidationPreferencesUpdateAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q77:CustomerLiquidationPreferencesUpdateAllRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerLiquidationPreferencesUpdateAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerLiquidationPreferencesUpdateAllResult" nillable="true" type="q78:CustomerLiquidationPreferencesUpdateAllResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerLiquidationPreferencesAddOrUpdateCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q79:CustomerLiquidationPreferencesAddOrUpdateCurrencyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerLiquidationPreferencesAddOrUpdateCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerLiquidationPreferencesAddOrUpdateCurrencyResult" nillable="true" type="q80:CustomerLiquidationPreferencesAddOrUpdateCurrencyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerLiquidationPreferencesRemoveCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q81:CustomerLiquidationPreferencesRemoveCurrencyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerLiquidationPreferencesRemoveCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerLiquidationPreferencesRemoveCurrencyResult" nillable="true" type="q82:CustomerLiquidationPreferencesRemoveCurrencyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemNoteCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q83:ItemNoteCreateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemNoteCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="ItemNoteCreateResult" nillable="true" type="q84:ItemNoteCreateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemNoteUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q85:ItemNoteUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemNoteUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="ItemNoteUpdateResult" nillable="true" type="q86:ItemNoteUpdateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemNoteGetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q87:ItemNoteGetSingleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemNoteGetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="ItemNoteGetSingleResult" nillable="true" type="q88:ItemNoteGetSingleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemNoteGetAllForItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q89:ItemNoteGetAllForItemRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemNoteGetAllForItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="ItemNoteGetAllForItemResult" nillable="true" type="q90:ItemNoteGetAllForItemResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemNoteDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q91:ItemNoteDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemNoteDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="ItemNoteDeleteResult" nillable="true" type="q92:ItemNoteDeleteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncomingPaymentCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q93:IncomingPaymentCreateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncomingPaymentCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="IncomingPaymentCreateResult" nillable="true" type="q94:IncomingPaymentCreateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncomingPaymentValidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q95:IncomingPaymentValidateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncomingPaymentValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="IncomingPaymentValidateResult" nillable="true" type="q96:IncomingPaymentValidateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncomingPaymentGetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q97:IncomingPaymentGetSingleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncomingPaymentGetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="IncomingPaymentGetSingleResult" nillable="true" type="q98:IncomingPaymentGetSingleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncomingPaymentPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q99:IncomingPaymentPostRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncomingPaymentPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="IncomingPaymentPostResult" nillable="true" type="q100:IncomingPaymentPostResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncomingPaymentVerify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q101:IncomingPaymentVerifyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncomingPaymentVerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="IncomingPaymentVerifyResult" nillable="true" type="q102:IncomingPaymentVerifyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncomingPaymentDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q103:IncomingPaymentDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncomingPaymentDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="IncomingPaymentDeleteResult" nillable="true" type="q104:IncomingPaymentDeleteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncomingPaymentSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q105:IncomingPaymentSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncomingPaymentSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="IncomingPaymentSearchResult" nillable="true" type="q106:IncomingPaymentSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstantPaymentCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q107:InstantPaymentCreateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstantPaymentCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="InstantPaymentCreateResult" nillable="true" type="q108:InstantPaymentCreateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstantPaymentPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q109:InstantPaymentPostRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstantPaymentPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="InstantPaymentPostResult" nillable="true" type="q110:InstantPaymentPostResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstantPaymentSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q111:InstantPaymentSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstantPaymentSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="InstantPaymentSearchResult" nillable="true" type="q112:InstantPaymentSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstantPaymentGetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q113:InstantPaymentGetSingleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstantPaymentGetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="InstantPaymentGetSingleResult" nillable="true" type="q114:InstantPaymentGetSingleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q115:DepositCreateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="DepositCreateResult" nillable="true" type="q116:DepositCreateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserSettingsGetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q117:UserSettingsGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserSettingsGetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="UserSettingsGetSingleResult" nillable="true" type="q118:UserSettingsGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserPasswordReset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q119:UserPasswordResetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserPasswordResetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="UserPasswordResetResult" nillable="true" type="q120:UserPasswordResetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserPasswordChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q121:UserPasswordChangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserPasswordChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="UserPasswordChangeResult" nillable="true" type="q122:UserPasswordChangeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserUsernameChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q123:UserUsernameChangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserUsernameChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="UserUsernameChangeResult" nillable="true" type="q124:UserUsernameChangeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAccessRightTemplateApply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q125:UserAccessRightTemplateApplyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAccessRightTemplateApplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="UserAccessRightTemplateApplyResult" nillable="true" type="q126:UserAccessRightTemplateApplyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAccessRightTemplateLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q127:UserAccessRightTemplateLinkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAccessRightTemplateLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="UserAccessRightTemplateLinkResult" nillable="true" type="q128:UserAccessRightTemplateLinkResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAccessRightTemplateUnLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q129:UserAccessRightTemplateUnLinkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAccessRightTemplateUnLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="UserAccessRightTemplateUnLinkResult" nillable="true" type="q130:UserAccessRightTemplateUnLinkResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerUserCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q131:CustomerUserCreateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerUserCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerUserCreateResult" nillable="true" type="q132:CustomerUserCreateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankUserSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q133:BankUserSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankUserSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="BankUserSearchResult" nillable="true" type="q134:BankUserSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerUserSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q135:CustomerUserSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerUserSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerUserSearchResult" nillable="true" type="q136:CustomerUserSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDoesUsernameExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q137:UserDoesUsernameExistRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDoesUsernameExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="UserDoesUsernameExistResult" nillable="true" type="q138:UserDoesUsernameExistResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAccountStatementGetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q139:CustomerAccountStatementGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAccountStatementGetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerAccountStatementGetSingleResult" nillable="true" type="q140:CustomerAccountStatementGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAccountBalancesGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q141:CustomerAccountBalancesGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAccountBalancesGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CustomerAccountBalancesGetResult" nillable="true" type="q142:CustomerAccountBalancesGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountHoldCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q143:AccountHoldCreateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountHoldCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="AccountHoldCreateResult" nillable="true" type="q144:AccountHoldCreateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountHoldApply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q145:AccountHoldApplyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountHoldApplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="AccountHoldApplyResult" nillable="true" type="q146:AccountHoldApplyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountHoldRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q147:AccountHoldReleaseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountHoldReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="AccountHoldReleaseResult" nillable="true" type="q148:AccountHoldReleaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountHoldDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q149:AccountHoldDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountHoldDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="AccountHoldDeleteResult" nillable="true" type="q150:AccountHoldDeleteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAccountBalances">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q151:GetCustomerAccountBalancesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAccountBalancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="GetCustomerAccountBalancesResult" nillable="true" type="q152:GetCustomerAccountBalancesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountHoldGetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q153:AccountHoldGetSingleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountHoldGetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="AccountHoldGetSingleResult" nillable="true" type="q154:AccountHoldGetSingleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountHoldSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q155:AccountHoldSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountHoldSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="AccountHoldSearchResult" nillable="true" type="q156:AccountHoldSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealQuoteCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q157:FXDealQuoteCreateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealQuoteCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FXDealQuoteCreateResult" nillable="true" type="q158:FXDealQuoteCreateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealQuoteBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q159:FXDealQuoteBookRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealQuoteBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FXDealQuoteBookResult" nillable="true" type="q160:FXDealQuoteBookResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealQuoteBookAndInstantDeposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q161:FXDealQuoteBookAndInstantDepositRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealQuoteBookAndInstantDepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FXDealQuoteBookAndInstantDepositResult" nillable="true" type="q162:FXDealQuoteBookAndInstantDepositResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealInstantDepositCreateAndPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q163:FXDealInstantDepositCreateAndPostRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealInstantDepositCreateAndPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FXDealInstantDepositCreateAndPostResult" nillable="true" type="q164:FXDealInstantDepositCreateAndPostResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealQuoteSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q165:FXDealQuoteSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealQuoteSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FXDealQuoteSearchResult" nillable="true" type="q166:FXDealQuoteSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealQuoteGetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q167:FXDealQuoteGetSingleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealQuoteGetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FXDealQuoteGetSingleResult" nillable="true" type="q168:FXDealQuoteGetSingleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXRatesGetTableRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q169:FXRatesGetTableRateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXRatesGetTableRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FXRatesGetTableRateResult" nillable="true" type="q170:FXRatesGetTableRateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXRatesGetTableRateFromSymbol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q171:FXRatesGetTableRateFromSymbolRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXRatesGetTableRateFromSymbolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FXRatesGetTableRateFromSymbolResult" nillable="true" type="q172:FXRatesGetTableRateFromSymbolResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q173:FXDealSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FXDealSearchResult" nillable="true" type="q174:FXDealSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealGetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q175:FXDealGetSingleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealGetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FXDealGetSingleResult" nillable="true" type="q176:FXDealGetSingleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q177:FXDealDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FXDealDeleteResult" nillable="true" type="q178:FXDealDeleteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealGetInstructionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q179:FXDealGetInstructionListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FXDealGetInstructionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FXDealGetInstructionListResult" nillable="true" type="q180:FXDealGetInstructionListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyListGetFXBuyCurrencies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyListGetFXBuyCurrenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CurrencyListGetFXBuyCurrenciesResult" nillable="true" type="q181:CurrencyListGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyListGetFXSellCurrencies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyListGetFXSellCurrenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="CurrencyListGetFXSellCurrenciesResult" nillable="true" type="q182:CurrencyListGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileAttachmentAddFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q183:FileAttachmentAddFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileAttachmentAddFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FileAttachmentAddFileResult" nillable="true" type="q184:FileAttachmentAddFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileAttachmentUpdateFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q185:FileAttachmentUpdateFileInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileAttachmentUpdateFileInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FileAttachmentUpdateFileInfoResult" nillable="true" type="q186:FileAttachmentUpdateFileInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileAttachmentGetFileData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q187:FileAttachmentGetFileDataRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileAttachmentGetFileDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FileAttachmentGetFileDataResult" nillable="true" type="q188:FileAttachmentGetFileDataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileAttachmentGetFileListForObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q189:FileAttachmentGetFileListForObjectRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileAttachmentGetFileListForObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FileAttachmentGetFileListForObjectResult" nillable="true" type="q190:FileAttachmentGetFileListForObjectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileAttachmentDeleteFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q191:FileAttachmentDeleteFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileAttachmentDeleteFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="FileAttachmentDeleteFileResult" nillable="true" type="q192:FileAttachmentDeleteFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q193:PaymentCreateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="PaymentCreateResult" nillable="true" type="q194:PaymentCreateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentValidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q195:PaymentValidateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="PaymentValidateResult" nillable="true" type="q196:PaymentValidateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentSubmit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q197:PaymentSubmitRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentSubmitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q198="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="PaymentSubmitResult" nillable="true" type="q198:PaymentSubmitResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentApproveFunds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q199="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q199:PaymentApproveFundsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentApproveFundsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q200="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="PaymentApproveFundsResult" nillable="true" type="q200:PaymentApproveFundsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentVerify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q201:PaymentVerifyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentVerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q202="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="PaymentVerifyResult" nillable="true" type="q202:PaymentVerifyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentAcceptWKYCMatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q203="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="request" nillable="true" type="q203:PaymentAcceptWKYCMatchesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentAcceptWKYCMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://schemas.datacontract.org/2004/07/GPWebService.DataContracts" minOccurs="0" name="PaymentAcceptWKYCMatchesResult" nillable="true" type="q204:PaymentAcceptWKYCMatchesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>